@model WorkOrderViewModel
@{
    var tahvil = ViewData["TahvilInfo"] as TahvilFormsViewModel;
}

<div class="mt-auto">
    <div class="row">
        <div class="col-lg-10  mx-auto">
            <div class="card shadow p-1 mb-5 rounded trackCSS mt-1">
                <h3 class="mx-auto mt-5 text-center text-primary"><span>درخواست شما با کد پیگیری </span><span><mark>@Model.WONo</mark></span><span> ارسال گردید </span></h3>
                <hr />
                <h5 class="ml-3"><i>نام متقاضی:</i><span>&ensp;<b>@tahvil.DeliverCode</b></span></h5>
                <br />
                <h5 class="ml-3"><i>شماره اموال:</i><span>&ensp;<b>@tahvil.AmvalNo</b></span></h5>
                <br />
                <h5 class="ml-3"><i>نوع اموال:</i><span>&ensp;<b>@tahvil.PartName,@tahvil.PartModelName</b></span></h5>
                <br />
                <h5 class="ml-3"><i>شرح درخواست:</i></h5>
                <h6 class="ml-3 alert alert-primary">@Html.Raw(@Model.NeedDescription.Replace("\n", "<br/>"))</h6>
                <br />
            </div>
        </div>
    </div>
    <partial name="footer" />
</div>



