@model WorkOrderViewModel
@{
    var tahvil = ViewData["TahvilInfo"] as TahvilFormsViewModel;
}




    <div class="container mt-auto">
        <div class="row">
            <div class="col-lg-10  mx-auto">
                <div class="card shadow p-1 mb-5 rounded trackCSS mt-1">
                    <h3 class="mx-auto mt-5 text-center"><span>درخواست شما با کد پیگیری </span><span><mark>@tahvil.Wono</mark>&ensp;</span><span>ارسال گردید </span></h3>
                    <br />
                    <br />
                    <h5 class="ml-3">نام متقاضی:<span>&ensp;<b>@tahvil.DeliverCode</b></span> </h5>
                    <br />
                    <h5 class="ml-3">شماره اموال:<span>&ensp;<b>@tahvil.AmvalNo</b></span></h5>
                    <br />
                    <h5 class="ml-3">نوع اموال:<span>&ensp;<b>@tahvil.PartName,@tahvil.PartModelName</b></span> </h5>
                    <br />
                    <h5 class="ml-3">شرح درخواست:</h5>
                    <h6 class="ml-3">@Model.NeedDescription</h6>
                    <br />
                </div>
            </div>
        </div>
        <div>
            <partial name="footer" />
        </div>
        
    </div>



