@model IList<WorkOrderDailyReportViewModel>
@{
    WorkOrderViewModel workorderInfo = ViewData["WorkOrderInfo"] as WorkOrderViewModel;
}
@if (workorderInfo != null)
{
    <div class="row">
        <div class="alert alert-success mx-auto">
            @if (workorderInfo.OprCodeName != null)
            {
                <span>
                    <b>@workorderInfo.AskerCode</b>
                </span><span> درخواست شما<span> به کد رهگیری <b>@workorderInfo.WONo</b> <span> مربوط به اموال </span><b>@workorderInfo.Amval</b> </span>برای انجام به </span>
                <span>
                    <b>@workorderInfo.OprCode</b>
                </span><span> ارجاع داده شده است</span>
            }
            else
            {
                <span><b>@workorderInfo.AskerCode</b></span><span> برای درخواست شما<span> به کد رهگیری <b>@workorderInfo.WONo</b></span></span>
                <span><b>انجام دهنده کار تعیین نشده است</b></span>
            }
        </div>
    </div>
}

<div class="row ltr">
    @if (Model != null)
    {
        @if (Model.Count > 0)
        {
            <div class="timeline">

                @for (int i = 0; i <= Model.Count - 1; i++)
                {
                    <div class="containerTL @(i % 2 == 0 ? "rightTL" : "leftTL")">
                        <div class="contentTL rtl">
                            <h6 class="text-secondary"><i class="fas fa-calendar-check"></i><span> @(new PersianDateTime(Model[i].ReportDate).ToLongDateTimeString())</span></h6>
                            <p>@Model[i].ReportComment</p>
                            <h6 class="text-primary">
                                <i class="fas fa-person-carry"></i><span> انجام دهنده:</span>
                                @if (workorderInfo != null)
                                {
                                    <span>
                                        <mark>@workorderInfo.OprCode</mark>
                                    </span>
                                }
                            </h6>
                        </div>
                    </div>
                }
            </div>
            <div class="alert alert-danger rtl mx-auto">کد رهگیری یا شمار اموال شما معتبر نمی باشد</div>
            <partial name="footer" />
        }
    }
    else
    {
        <div class="alert alert-danger rtl mx-auto">کد رهگیری یا شماره اموال شما معتبر نمی باشد</div>
        <partial name="footer" />
    }
</div>